.section-1 
{
  background-image: url("../images/hero-2-cover.png");
  height: 818px;
  width:1840px;
}

.features ul
{
  display: flex;
  list-style-type: none;
}

.f1
{
  font-weight: bold;
  font-size: 40px;
  padding-left: 80px;
  color: white;
}

.f2
{ margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 100px;
  color: white;
}

.f3
{  
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 40px;
  color: white;
}

.f4
{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 40px;
  color: white;
}

.f5
{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 40px;
  color: white;
}

.f6
{  
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  padding-left: 250px;
  padding-right: 30px;
  color: white;
}

.btn
{
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold; 
}

.content-container
{
  display: d-flex ;
  font-size: 30px;
  text-align: center;
  padding-top: 170px;
}

.content-container h1
{
  font-size: 100px;
}

.section-2 
{
  height: 834px;
  width:1440px;
}

.quality-education
{
  padding-top: 120px;
  padding-left: 150px;
  display: d-flex ;
  font-size: 20px;
}

.row
{
  padding-top: 90px;
  padding-left: 250px;
} 

img
{
  border-radius: 10px;
  padding-left: 18px;
  width: 120px;
  height: 100px;
}

.section-3 
{
  height: 823px;
  width:1440px;
}

.img1
{
  height: 553px;
  width: 384px;
}

.hr
{
  border-top: 12px solid  red ;
  width: 100px;
}

.paragraph
{
  margin-top: 30px;
  font-size: 25px;
}

.paragraph2
{
  margin-top: 30px;
  font-size: 15px;
}

.h1
{
  margin-top: 50px;
}

.col-3
{
  margin-top: 100px;
}











